<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
      <% include partials/nav.ejs %>

      <title>Saved Student Info</title>
  </head>
  <body>
        <table id="list" border="1"align="center">
           <tr action="<%= data.conId %>/status" method="POST">
               <th>Students Id</th>
               <th>First Name </th>
               <th>Last Name</th>
               <th>Degree</th>
               <th>Program</th>
               <th>Action</th>
             </tr>

          <% for (var i =0; i< data.length; i++){ %>
            <tr>
              <td> </td>
            <td> <%= data[i].firstName %> </td>
            <td> <%= data[i].lastName %> </td>
            <td> <%= data[i].degree %> </td>
            <td> <%= data[i].program %> </td>
            <td><a href="/connect/3" class="update">Update</a></td>
            <td><a href="myEvents" class="delete">Delete</a></td>
            <td> </td>
          </tr>
            <%}%>

            <td>
              <a href="/connect/3" class="update">Update</a>
              <a href="myEvents" class="delete">Delete</a>
            </td>

            <tr>
             <td>1</td>
             <td>Mark</td>
             <td>Stone</td>
             <td>
                <a href="/connect/3" class="update">Update</a>
                <a href="myEvents" class="delete">Delete</a>
              </td>
           </tr>


        <tr>
           <td><%= data.status %></td>
           <td><%= data.detail %></td>
           <td></td>
           <td></td>
         </tr>

       </table>
       <span id="val"</span>

  </body>
</html>
